VITE_SUPABASE_URL=https://dakvaiofizllqlsfufhh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRha3ZhaW9maXpsbHFsc2Z1ZmhoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE5MTMyNzQsImV4cCI6MjA4NzQ4OTI3NH0.H_VP1qIMVP3pLRo4pv0cFHxQX4rq6t5WyyARFexqlA8
